
.calc{
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  width:50%;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTOLVaayhLMxjbH3y5K6QjZxJFHz6E4RsBFw&s")

  /* https://media.istockphoto.com/id/1458790636/vector/lotus-pond-with-koi-fish-seamless-pattern-asian-water-lily-flowers-leaves-fish-repeat.jpg?s=612x612&w=0&k=20&c=e4kZypWdBtgZKEC3NvZyMxtmWS_m2sFgeW558oGHm30= */
}
.aditi{
  color: azure;
}

body{
  background-image: url("https://t4.ftcdn.net/jpg/07/17/25/91/360_F_717259139_O9Sokjftao7hBOCdazu6aq6CQ82EdHbw.jpg")
}

.text{
  background-color: rgb(0, 165, 168);
  color: aliceblue;
 text-align: center;
  justify-content: center;
  align-items: center;
  
}

.textinp{
  text-align: center;
  color: white;
}

/* placeholder */

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: white;
}
